.btn-blue{
	background-color:pink;
	padding:15px 20px;
	border-radius:4px;
	color:white;
	font-weight: bold;
	font-family: 'Mulish', sans-serif;
}

.btn-blue:hover{
	background-color:white;
	color:pink;
}

.list-inline{
	list-style:none;
	padding-left:0px;
}

.list-inline li{
	display:inline;
	padding:10px;
}

.list-inline i{
	font-size: 50px;
	color:pink;
}

.list-inline i:hover{
	color:grey;
}